:root {
    /* Algemene kleuren */
    --background-color: #ffffff;
    --text-color: #333;
    --button-text-color: #ffffff;
    --selected-bg: #78B5AA;
    --selected-text: #fff;

    /* Specifieke knoppen kleuren */
    --generate-prompt-bg: #78B5AA;
    --random-choices-bg: #0F3460;
    --generate-10-prompts-bg: #5D6D7E;
    --reset-form-bg: #0F3460;
    --night-mode-bg: #78B5AA;

    /* Achtergrond promptvlak */
    --example-prompt-bg: #F0F8FF;

    /* Donkere modus kleuren */
    --background-color-dark: #121212;
    --text-color-dark: #ffffff;
    --button-hover-bg-dark: #3700B3;

    /* Donkere modus knoppen kleuren */
    --generate-prompt-bg-dark: #78B5AA;
    --random-choices-bg-dark: #0F3460;
    --generate-10-prompts-bg-dark: #5D6D7E;
    --reset-form-bg-dark: #0F3460;
    --night-mode-bg-dark: #78B5AA;

    /* Achtergrond promptvlak in donkere modus */
    --example-prompt-bg-dark: #F0F8FF;

    /* Hover-effect */
    --button-hover-bg: #e0e0e0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-dark);
    --button-text-color: #ffffff;
    --generate-prompt-bg: var(--generate-prompt-bg-dark);
    --random-choices-bg: var(--random-choices-bg-dark);
    --generate-10-prompts-bg: var(--generate-10-prompts-bg-dark);
    --reset-form-bg: var(--reset-form-bg-dark);
    --night-mode-bg: var(--night-mode-bg-dark);
    --example-prompt-bg: var(--example-prompt-bg-dark);
    --button-hover-bg: var(--button-hover-bg-dark);
}

.custom-btn {
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: var(--button-text-color);
    transition: back
